@font-face {
  font-family: sohne-var;
  src: url(/stripe/font/login.kzwa0es4w0qij3gh.woff2) format("woff2");
}

@font-face {
  font-family: sohne-woff;
  src: url(/stripe/font/login.ihg02wjjpfgye2jo.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 24px 24px 0;
  padding-left: 8.2px;
}

.header-border {
  padding: 12px 0 0 0;

  border-bottom: 0.1px ridge rgb(69, 71, 80);
  opacity: 0.1;
}

.sign-full-container {
  display: flex;
  flex-direction: column;
  margin: 7px 12px 0 12px;
  height: 88vh;
}

.sign-form {
  padding: 20px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline {
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;

  font-weight: 400;
  font-size: 20px;
  color: #3c4257;
  letter-spacing: -0.2px;
  line-height: 22px;
  font-feature-settings: "pnum";
  white-space-collapse: collapse;
}

.form-content {
  display: flex;
  flex-direction: column;
}
.text-content {
  font-size: 14px;
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #3c4257;
}
.another-way {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-box {
  box-sizing: border-box;
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;

  margin-top: 4px;
  align-items: baseline;
  padding: 8px 12px;
  line-height: 24px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  outline: 1px solid rgba(39, 57, 81, 0.164);
  height: 44px;
}
.password-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.remember-container {
  padding-top: 16px;
  display: flex;
  align-items: center;
}
.sign-button {
  margin-top: 15px;
  padding: 13px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: #635bff73;
  outline-width: 3px;
  color: white;
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;
  border-radius: 6px;
  border: none;
}

.signinwith {
  padding: 18px 0px 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #3c4257ea;
  font-weight: 400;
  letter-spacing: -0.15px;
}

.another-way {
  display: flex;
  gap: 10px;
  margin-top: 3px;
}

.sign-in-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid rgba(39, 57, 81, 0.164);
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;
  color: #273951;
  border-radius: 6px;
}

.new-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 250, 253);
  gap: 4px;
  font-family: sohne-var, sohne-woff, "Helvetica Neue", Arial, sans-serif;
  height: 64px;
  border: 1px solid rgb(236, 241, 246);
  border-radius: 6px;
  font-size: 13px;
  margin: 0 4px;
}

@media (min-width: 768px) {
  .logo {
    margin: 25.5px 25.5px 0;
  }
  .sign-full-container {
    align-items: center;
    padding-top: 24px;
    margin: 0 16px;
    border-left: 1px ridge rgba(69, 71, 80, 0.1);
    border-right: 1px ridge rgba(69, 71, 80, 0.1);
  }
  .card-container {
    padding-top: 10px;
  }
  .card {
    /* background-color: yellow; */
    background-color: white;
    border-radius: 6px;
    width: 368px;
    padding-top: 14px;
    padding: 10px;
    box-shadow: 0px 0px 1px grey;
  }
  body {
    background-image: url(//b.stripecdn.com/dashboard-fe-statics-srv/assets/public/login-wave-dpr2-md-1500x1250.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-border {
    padding-top: 20px;
  }
}
