.body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 500px;
  border: 1px solid red;
  margin: 10px 0;
}
.container-width {
  width: 400px;
}

.item {
  width: 100px;
  height: 300px;
  border: 1px solid #671176;
  background-color: aliceblue;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-shrink-3 {
  flex-shrink: 3;
}

.flex-basis-1{
    flex-basis: 0;
}

.flex-basis-2{
    flex-basis: auto;
}

.flex-basis-3{
    flex-basis: 200px;
}

.flex-basis-4{
    flex-basis: 33.33%;
}


.order-5{
    order: 1;
}

.order-1{
    order: 2;
}

.order-2{
    order: 3;
}

.order-3{
    order: 4;
}

.order-4{
    order: 5;
}

.align-item-center{
    align-items: center;
}

.align-self-end{
    align-self: flex-end;
}